@{
    ViewData["Title"] = "İLETİŞİM BİLGİLERİ";
}
<div class="text-center">
    <h1 style="color:purple">@ViewData["Title"]</h1>

    <br />
    <h3 >YENİŞEHİR MAHALLESİ ŞEHİT KAZIM CADDESİ NO:55</h3>
    <h3>KOCAELİ/İZMİT</h3>
    <br />
    <h3>E-POSTA ADRESİMİZ:</h3>
    <a href="mailto:nisa44675@gmail.com">E-POSTA GÖNDER </a>
    <h3>TELEFON NUMARAMIZ:</h3>
    <a href="tel:05539434106">ARAMA YAPIN</a>
</div>